%div{"data-controller" => "async-block", "data-async-block-endpoint-value" => "/cats/mr-tibbins", "data-async-block-target" => "replace", "data-async-block-selector-value" => ".cat-photo", }
  %i.fas.fa-spinner.fa-spin.mr-10
  Loading, please wait ...
