-# On Div
%div{"data-controller" => "confirm-navigation"}
  %p Lorem ipsum
-# On a form
%form{action: "", "data-controller" => "confirm-navigation"}
  %p Lorem ipsum
-# On a meta tag
%meta{"data-controller" => "confirm-navigation"}/
