.cell.medium-6{"data-controller" => "disable-inputs"}
  %label
    What time does the event end?
    %input{"data-disable-inputs-target" => "disable", name: "end_time", type: "date"}/
  %label
    This event does not have an end time
    %input{"data-disable-inputs-target" => "disabler", type: "checkbox"}/
