<div
  data-controller="toggle-class"
  data-action="dom:not-empty->toggle-class#on dom:empty->toggle-class#off"
  data-toggle-class-class-value="hidden"
>
  <h2>Recently completed tasks</h2>
  <div class="hide" data-toggle-class-target="toggle">
    <p> You haven't completed any tasks yet.</p>
  </div>
  <%= turbo_stream_from [current_user, "complete_tasks"] %>
  <%= turbo_frame_tag "complete_tasks", data-controller='empty-dom' } do %>
    <%= render @complete_tasks %>
  <% end %>
</div>
