%form#test-form{ data: { controller: "form-save"}}
  %div
    %label
      Name
      %input{ type: "text", name: "name"}

  %div
    %label
      Age
      %input{ type: "number", name: "age"}

  %div
    %label
      Quest
      %textarea{ name: "quest"}


  %div
    %label
      Do you like cake?
      %input{ type: "checkbox", name: "gorilla"}

  %br
  %div
    %p Favourite Ice Cream
    %br
    %label
      Mint
      %input{ type: "radio", name: "ice_cream", value: "Mint"}
    %label
      Chocolate
      %input{ type: "radio", name: "ice_cream", value: "Chocolate"}
    %label
      Vanilla
      %input{ type: "radio", name: "ice_cream", value: "Vanilla"}
  %hr

  %div
    %a{ href: "", data: {action:"form-save#restore"}} Restore saved progress
  %div
    %a{ href: "", data: {action:"form-save#save"}} Save your progress

  %div
    %button{ type: "reset" } reset
    %button{ type: "submit" } submit