%div{"data-controller" => "lazy-block", "data-lazy-block-endpoint-value" => "/cats/mr-tibbins", "data-lazy-block-target" => "replace", "data-lazy-block-selector-value" => ".cat-photo", }
  %i.fas.fa-spinner.fa-spin.mr-10
  Loading, please wait ...
