%label{for: "email"}
  Email:
  %input#email{type: "email"}/
.input-group{"data-controller" => "password-peek"}
  %label.input-group-label{for: "password"}
    Enter your password:
  %input#password.input-group-field{"data-password-peek-target" => "password", type: "password"}/
  %a.button.input-group-button{"data-action" => "password-peek#toggle", href: ""}
    %i.far.fa-eye-slash
