%div{"data-controller" => "toggle-class", "data-toggle-class-class-value" => "hidden", "data-toggle-class-click-away-value" => "true", "data-toggle-class-initial-value" => "on"}
  %button#user-menu.navbar-button{"data-action" => "click->toggle-class#toggle"}
    %i.far.fa-bell
    %span.hidden.dropdown{"data-toggle-class-target" => "toggle"}
      %a.dropdown-link{href: "/profile"} Your Profile
      %a.dropdown-link{href: "/settings"} Settings
      %a.dropdown-link{href: "/sign-out"} Sign Out
