%label
  %abbr.required{title: "required"} *
  What is your quest?
  We suggest at least 250 words, but no more than 2000 words.
%div{"data-controller" => "word-count", "data-word-count-max-value" => "2000", "data-word-count-min-value" => "250"}
  %textarea{"data-word-count-target" => "input", name: "quest"}
  .text-right
    %span{"data-word-count-target" => "output"}
    %span{"data-word-count-target" => "output"} /2000
